
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


.modal{
  top: 30%;
}

.modal-body{
  background-color: #ffffff;
}

.modal-content-custom{
  border-radius: 6px;
  position: relative;
  background-image: url(/images/modal.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
  height: 400px;
}

.modal-header{
  padding: 10%;
  color: #ffffff;
  height: 10px;
  border: none;
}

.btn{
  background-color: #000000;
  border-bottom-color: #000000;
  color: #ffffff;
}
.btn:hover,
.btn:focus,
.btn.focus{
  color: #ffffff;

}